.card-title-header-profile {
    background-color: #9982da !important;
    color: white;
}

.date-label {
    margin-bottom: 0px;
    position: relative;
    top: 0px;
    left: 50%;
    display: inline;
}

.upload-image-label {
    margin-bottom: 15px !important;
}

.default-img-circle {
    width: 100px;
    height: 90px;
    border: 1px solid white;
    border-radius: 50%;
}

.default-img-circle:hover {
    width: 100px;
    height: 90px;
    border: 1px solid black;
    border-radius: 50%;
}

.calendar {
    position: relative;
    left: 20%;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url(../images/calendar.png) no-repeat;
    width: 30px;
    height: 30px;
    border-width: thin;
}

.date-label {
    position: relative;
}

.date-input {
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 56px;
}

@media(max-width:1000px) {
    .container-profile {
        position: relative;
        top: 10%;
        left: 30%;
        min-width: 100vw;
    }

    .date-label {
        left: 20%;
    }
}

@media(max-width:767px) {
    .container-profile {
        position: relative;
        top: 7%;
        left: 30%;
        min-width: 100vw;
    }

    .date-label {
        left: 10%;
    }

}