.container-profile {
    position: absolute;
    top: 15%;
    left: 30%;
}

.card-title-header-profile {
    background-color: #9982da !important;
    color: white;
}

.boldening {
    font-weight: 900;
}

.date-label {
    margin-bottom: 0px;
    position: relative;
    top: 0px;
    left: 50%;
    display: inline;
}

.upload-image-label {
    margin-bottom: 15px !important;
}

.default-img-circle {
    width: 100px;
    height: 90px;
    border: 1px solid white;
    border-radius: 50%;
}

.default-img-circle:hover {
    width: 100px;
    height: 90px;
    border: 1px solid black;
    border-radius: 50%;
}

.calendar {
    position: relative;
    left: 20%;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url(../images/calendar.png) no-repeat;
    width: 30px;
    height: 30px;
    border-width: thin;
}

.date-input {
    position: relative;
    left: 23%;
    top: 38%;
    width: 56px;
}