.flex-contact-header{
    position: absolute;
    top: 13%;
    left: 53%;
    display: flex;
    flex-direction: column;
    justify-content: space-between !important;
    max-width: 400px;
}
.header-profile {
    position: relative;
    left: 3%;
}

.my-contacts-container {
    position: absolute;
    top: 29%;
    left: 30%;
}

.grid-list-contacts {
    position: absolute;
    width: 80px;
    left: 96% !important;
    top: 14%;
    text-decoration: none;
}

.contact-table {
    position: absolute;
    top: 30%;
    left: 21%;
    width: 78%;
}

.actions-list {
    max-width: 100px;
}

.work-list-icon {
    width: 20px;
}
.info-list-contact{
    width: 20px;
}
.trash-list-contact{
    width: 18px;

}
.edit-contact-list{
    width: 20px;

}
.container-list-more{
    position: relative;
    right: 5%;
    bottom: -2px;
}
.purple{
    background-color: #9982da;
    color: white;
}
.add-contact-form {
    position: relative;
    margin-top: 20px;
}

