.company-img-contact {
    width: 32px;
}

.trash-contact-card {
    width: 22px !important;
    position: relative;
}

.contact-bio {
    position: absolute;
    display: inline;
}

.my-card {
    position: relative;
    min-width: 335px;
    max-width: 335px;
    margin-bottom: 30px !important;
}

.my-modal {
    padding: 80px;
    position: absolute;
    top: 10%;
    left: 16%;
    width: 50%;
    height: 80%;
    display: block;
    left: 26%;
    opacity: 92%;
    color: rgb(10, 9, 9);
    background-color: #eef0f1;
}

.work-grid-icon {
    position: absolute;
    width: 23px;
}

.edit-contact-card {
    position: absolute;
    width: 22px;
}

.container-header-contact-card {
    position: relative;
    top: 10% !important;
    right: 5%;
    width: 360px !important;
}

.about-card-btn {
    background-color: #9982da !important;
    border: none;
}