html body {
    overflow-x: hidden;
}

.flex-contact-header {
    position: absolute;
    top: 13%;
    left: 53%;
    display: flex;
    flex-direction: column;
    justify-content: space-between !important;
    max-width: 400px;
}

.container-header-contact-card {
    position: relative;
    top: 10% !important;
    right: 22% !important;
    max-width: 360px !important;
}

.header-card-contact-name {
    position: relative;
    right: -14%;
}

.header-profile {
    position: relative;
    left: 3%;
}

.my-contacts-container {
    position: relative;
    top: 168%;
    left: 20rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 84vw;
    max-width: 84vw;
}


.grid-view-contacts {
    position: absolute;
    max-width: 23px;
    left: 96% !important;
    top: 14%;
    text-decoration: none;
}

.list-view-contacts {
    position: absolute;
    max-width: 23px;
    left: 97% !important;
    top: 14%;
    text-decoration: none;
}
.list-view-contacts:hover,.grid-view-contacts:hover {
    transform: translate(-3px);    
}

.contact-table {
    position: absolute;
    top: 18%;
    left: 20%;
    width: 79%;
}

.actions-list {
    max-width: 100px;
}

.work-list-icon {
    width: 20px;
}

.info-list-contact {
    width: 20px;
}

.trash-list-contact {
    width: 18px;

}

.edit-contact-list {
    width: 20px;

}

.container-list-more {
    position: relative;
    right: 1vw;
    bottom: -2px;
    min-width: 120px !important;
}

.purple {
    background-color: #9982da;
    color: white;
}

.add-contact-form {
    position: relative;
    margin-top: 20px;
}

@media(max-width:1000px) {
    .add-contact-container {
        position: relative;
        top: 110px !important;
    }

    .contact-table {
        /* position: absolute;
        top: 23%; */
        left: 1%;
        width: 98%;
    }

    .container-list-more {
        position: relative;
        right: 15%;
        bottom: -2px;
        min-width: 120px !important;
    }

    .my-contacts-container {
        position: relative;
        top: 168%;
        left: 1rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        min-width: 98vw;
        max-width: 98vw;
    }

}



@media(max-width:745px) {
    .add-contact-container {
        position: relative;
        top: 170px !important;
    }

    .add-contact-form {
        margin-top: 0px;
    }

    .contact-table {
        position: absolute;
        top: 180px;
        left: 1%;
        width: 98%;
    }

    .container-list-more {
        position: relative;
        right: 4%;
        bottom: -2px;
        min-width: 160px !important;
    }

    .my-contacts-container {
        position: relative;
        top: 200px;
        transform: translate(-9%);
        min-width: 44vw;
        max-width: 44vw;
    }

    .my-card {
        position: relative;
        min-width: 90vw !important;
        max-width: 90vw !important;
        margin-bottom: 30px !important;
    }

    .container-header-contact-card {
        position: absolute;
        left: 42%;
        transform: translate(-20px, -20px);
        max-width: 100px !important;
    }

    .header-card-contact-name {
        position: relative;
        top: 26px;
        right: 58vw;
        min-width: 120px;
    }
}