.file-manager-header {
    position: absolute;
    top: 14%;
    left: 43%; 
}

.file-manager-container {
    position: absolute;
    top: 20%;
    left: 20%;
}

.upload-icon {
    position: absolute;
    left: 90%;
}