.job-main-div {
    position: absolute;
    top: 100px;
    left: 22%;
    min-width: 60vw;
}

.jobs-table {
    position: absolute;
    max-width: 96%;
    transform: translate(-3%);
}

.start-date-label {
    position: relative;
    left: 16px !important;
    z-index: 5;
}

.start-date-box {
    position: relative;
    width: 58px !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url(../images/calendar.png) no-repeat;
    width: 30px;
    height: 30px;
    border-width: thin;
    position: relative;
    left: 0px;
}

input[type="date"] {
    border: white;
}

.end-date-group {
    position: relative;
    left: 20px;
}

.end-date-box {
    width: 78px !important;
    position: relative;
    left: 23px !important;
}

.end-date-box::-webkit-calendar-picker-indicator {
    position: relative;
    left: -55px !important;
}

.job-status-dropd {
    position: relative;
    left: 16px;
    /* top: 16px; */
}

.actions-list {
    min-width: 110px;
}

.add-job-button {
    background-color: #00C67E !important;
    border: none !important;
}

.add-job-button:hover {
    background-color: #234d3d !important;

}

@media(max-width:1000px) {
    .job-main-div {
        top: 100px;
        left: 5%;
        min-width: 90vw;
    }

    .jobs-table {
        position: absolute;
        max-width: 90rem !important;
        left: 3%;
        font-size: 11px;
    }
}

@media(max-width:700px) {
    .job-main-div {
        top: 130px;
    }
}