html body {
  font-family: 'Montserrat', sans-serif;
  color: #121518;
  font-size: 14px !important;
  font-weight: 500;
  word-break: break-word;
}

*:focus {
  outline: none;
}

.grid-container {
  display: grid;
  grid-template-rows: 100px auto;
  grid-template-columns: minmax(100px, 200px) auto;
  grid-template-areas:
    "logo main-header"
    "sidebar main-section";
}

.grid-item {
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0);
}

.grid-item-header {
  grid-area: logo;
  position: relative;
}

.grid-item-header2 {
  grid-area: main-header;
  position: relative;
}

.grid-item-sidebar {
  grid-area: sidebar;
  position: relative;
  padding-top: 30px;
}

.grid-item-main {
  grid-area: main-section;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}

.outer-div-header {
  position: fixed;
  background-color: white !important;
  width: 100%;
  z-index: 99;
  height: 100px;
}

.logo {
  grid-area: logo;
  position: absolute;
  top: 30%;
  left: -20%;
  padding-top: 10px;
  width: 50%;
  height: 40%;
  background: #FFFFFF;
  text-align: center;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0);

}

.flex-header-profile {
  position: absolute;
  min-width: 230px;
  max-height: 80px !important;
  right: 0%;
  top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.flex-hello {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-height: 70px !important;
}

.hello {
  display: flex;
  flex-wrap: nowrap;
  font-weight: 700;
  font-size: 15px;
}

.thumbnail {
  max-width: 75px;
  margin-right: 35px;
}

.dropdown-toggle {
  width: 100%;
  margin-bottom: 5px;
}

.dropdown-menu {
  width: 100%;
}

.accordion {
  background-color: white !important;
  padding: 0 !important;
  border: none !important;
}

.header {
  background-color: #292b2cd8 !important;
  border-radius: 5px !important;
  width: 100% !important;
  margin-bottom: 5px !important;
}

.toggle-content {
  background-color: white !important;
  border-radius: 5px !important;
}

.toggle-btn {
  width: 100%;
  border: 1px solid white !important;
  background-color: white !important;
  font-weight: 600;
  font-size: 18px;
  border-radius: 5px;
}

.toggle-btn:hover {
  background-color: #00C67E !important;
  color: white;
}

.flex-header-form {
  position: absolute;
  top: 145%;
  left: 20%;
  min-width: 400px;
  max-height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between !important;
}

.search-bar {
  width: 300px !important;
}

.book-card {
  position: relative;
  left: -68px !important;
  top: -60px;
  width: 75vw !important;
  min-height: 300px;
  max-height: 380px;
  margin-top: 15px;
  margin-left: 20px;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.247);
  border: none !important;
}

.about-book {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-height: 1, 5em;
  max-height: 4, 5em;
  max-width: 20vw;

}

.about-max {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-height: 1, 5em;
  max-height: 4, 5em;
  max-width: 20vw;

}

.card-img {
  width: 250px !important;
  max-height: 270px !important;
  z-index: 3;
}


.flex-all-btns {
  position: relative;
  display: flex;
  flex-direction: row;
  max-width: 65%;
  right: 2%;
}

.flex-left {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 40%;
  left: 100px;
}

.flex-text-list {
  position: relative;
  right: -5%;
  display: flex;
  flex-direction: column;
  min-height: 200px;
  justify-content: space-between;
}

.flex-inside-list {
  display: flex;
}

.flex-genre-list {
  display: flex;
  flex-direction: column;
  max-width: 90%;
}

.about-maximum-list {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-height: 1, 5em;
  max-height: 4, 5em;
  max-width: 26vw;
}

.about-book-list {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-height: 1, 5em;
  max-height: 4, 5em;
  max-width: 22vw;
}

.progressBar-list {
  width: 25vw;
  transform: rotate(0deg) !important;
  height: 45px !important;
}

.bookmark-icon-list {
  position: absolute;
  top: 15px !important;
  right: 3vw;
  width: 22px;
}

.bookmark-icon-list:hover {
  width: 20px;
}

.agent-list-card {
  position: absolute;
  width: 28px;
  top: 17px !important;
  right: 1%;
}

.status-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 7px;
  outline: none;
  padding: 20px;
  width: 95vw;
  height: 80vh;
  z-index: 98;
}

.list-modal {
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 7px;
  outline: none;
  padding: 20px;
  width: 80vw;
  height: 70vh;
  z-index: 39;
}

.overlay-modal-status {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(173, 170, 170, 0.411);
  z-index: 99;

}

.overlay-modal-list {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(173, 170, 170, 0.411);
  z-index: 39;
}

.meeting-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 7px;
  outline: none;
  padding: 20px;
  width: 80vw;
  height: 80vh;
  z-index: 99;
}

.overlay-modal-meeting {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(173, 170, 170, 0.411);
  z-index: 99;
}

.summary-modal {
  position: absolute;
  top: 8vh;
  left: 12vw;
  right: 40px;
  bottom: 40px;
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 7px;
  outline: none;
  padding: 20px;
  width: 80vw;
  height: 80vh;
  z-index: 99;

}

.overlay-modal-summary {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(173, 170, 170, 0.411);
  z-index: 99;
}

.jobs-modal {
  position: absolute;
  top: 8vh;
  left: 12vw;
  right: 40px;
  bottom: 40px;
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 7px;
  outline: none;
  padding: 20px;
  width: 80vw;
  height: 80vh;
  z-index: 99;
}

.overlay-modal-jobs {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(173, 170, 170, 0.411);
  z-index: 99;
}

.jobs-modal-inner-div {
  position: absolute;
  top: -6%;
  left: 13%;
  transform: translate(-50%);
}

.boldening {
  font-weight: 400;
}

.greening {
  color: #00C67E;
  font-weight: bold;
}

.card-title-header {
  background-color: #678aee !important;
  color: white;
  border-top-left-radius: 13px !important;
  border-top-right-radius: 13px !important;
  height: auto;
}

.blueing {
  font-size: 14px;
  display: inline-block;
  margin-left: 10px;
  color: white;
  background: #4285F4;
  border-radius: 18px;
  width: fit-content;
  padding: 5px 15px 5px 15px;
}

.toggle-link {
  display: block;
  margin: auto !important;
  color: black;
}

.toggle-link:hover {
  color: white;
}

a {
  text-decoration: none;
  color: black !important;
}

a:hover {
  text-decoration: none !important;
  color: #00C67E !important;
}

.zero-percent {
  position: absolute;
  top: 50%;
  left: 40%;
  font-size: 15px;
}

.main-ul {
  position: relative;
  top: 40px;
  left: 1px;
}

.reminders-main-div {
  overflow-y: auto;
}

.main-logo {
  position: relative;
  bottom: 120%;
  width: 90px;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.185);
  border-radius: 10px;
}

.close-modal-btn {
  position: absolute;
  max-width: 30px;
  top: 30px;
  right: 2vw;

}

.close-modal-small-btn {
  position: absolute;
  max-width: 28px;
  top: 8px;
  right: 1vw;
}

@media(max-width :1700px) {
  .book-card {
    position: relative;
    left: -73px !important;
    top: -60px;
    width: 76vw !important;
    min-height: 300px;
    max-height: 600px;
    margin-top: 15px;
    margin-left: 20px;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.247);
    border: none !important;
  }

  .about-book {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-height: 1, 5em;
    max-height: 4, 5em;
    max-width: 30vw;

  }

  .about-max {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-height: 1, 5em;
    max-height: 4, 5em;
    max-width: 30vw;

  }

  .flex-inside-list {
    display: flex;
  }


  .about-maximum-list {
    max-width: 25vw;
  }

  .about-book-list {
    max-width: 25vw;
  }

  .flex-left {
    left: 4%;
  }

  .bookmark-icon-list {
    right: 5vw;
  }
}

@media(min-width:1432px) {
  .small-screen-div {
    display: none;
  }
}

@media(max-width:1432px) {

  .flex-left,
  .flex-text-list {
    display: none;
  }

  .small-screen-div {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 5%;
  }

  .about-book-list {
    max-width: 44vw;
  }

  .progressBar-small-screen {
    width: 25vw;
    transform: rotate(0deg) !important;
    height: 45px !important;
    position: absolute;
    bottom: 0ch;
  }

  .genre-list {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-height: 1, 5em;
    max-height: 4, 5em;
    max-width: 40vw;
  }

  .read-more-list {
    position: absolute;
    bottom: -1ch;
    right: 3rem;
    background-color: white !important;
    border: 0 !important;
    font-weight: 500;
    font-size: 17px;
    width: auto;
    color: #00C67E !important;
    margin-bottom: 3px;
    max-width: 89px;
  }

  .read-more-list:hover {
    max-width: 36px;

  }

  .progress-read-more {
    display: flex;
    flex-direction: row;
  }

  .book-card {
    width: 75vw !important;

  }
}

.hamburger-menu {
  grid-area: hamburger;
  display: none;
}

@media(max-width:1000px) {
  .grid-container {
    display: grid;
    grid-template-rows: 100px auto;
    grid-template-columns: 0% 100%;
    grid-template-areas:
      "logo hamburger main-header"
      "main-section";
  }

  .grid-item-main {
    display: flex;
    min-width: 100% !important;
    overflow-y: hidden !important;
    overflow-x: hidden !important;
  }

  .grid-item-sidebar {
    display: none;
  }

  .hamburger-menu {
    display: inline;
    position: relative;
    top: 30px;
    left: 20%;
    z-index: 7;
  }

  .book-card {
    position: absolute;
    left: auto;
    right: 5vw !important;
    top: -60px;
    width: 272% !important;
    max-width: 91vw !important;
    margin-top: 15px;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.247)
  }


  .logo {
    margin-left: 55px;
    display: none;
  }

  .flex-header-form {
    position: absolute;
    top: 120%;
    left: 30%;
    min-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
  }

  .search-bar {
    width: 230px !important;
    margin-right: 5px;
  }

  .drawer-toggle {
    position: relative;
    top: 150px;
  }

  .drawer-logo {
    display: block;
    position: absolute;
    right: 33%;
    top: -125px;
    width: 90px;
    background: #FFFFFF;
    text-align: center;
    z-index: 100;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.253);
    border-radius: 18%;
  }

  .btn-logout,
  .hello {
    display: none !important;
  }

  .bookmark-icon-list {
    right: 8vw;
  }

  .list-modal {
    height: 78vh;
  }

  .read-more-list {
    position: absolute;
    bottom: -1ch;
    right: 0rem;
  }
}

@media(max-width:700px) {
  .flex-header-form {
    position: absolute;
    top: 330%;
    left: 4%;
    min-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
  }

  .book-card {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: -59px !important;
    top: -52px;
    width: 272% !important;
    max-width: 92vw !important;
    min-height: 550px;
    margin-top: 15px;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.137)
  }

  .card-img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }


  .search-btn {
    padding: 2px !important;
  }

  .book-description {
    display: none;
  }

  .genre-list {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-height: 1, 5em;
    max-height: 4, 5em;
    min-width: 60vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -0%);
  }

  .flex-inside-list {
    display: flex;
    flex-direction: column;
  }

  .progress-read-more {
    position: relative;
    top: 190px;
  }

  .progressBar-small-screen {
    width: 49vw;
  }

  .bookmark-icon-list {
    right: 14vw;
  }

  .agent-list-card {
    right: 2%;
  }

  .outer-div-header {
    height: 160px;
  }

  .read-more-list {
    position: absolute;
    bottom: -1ch;
    right: 10vw;
  }
}

@media(max-width:724px) {
  .list-modal {
    top: 59%;
    width: 96vw;
    height: 78vh;
  }

}

@media(max-width:600px) {
  .book-card {
    top: -60px;
  }
}

@media(max-width:424px) {
  .outer-div-header {
    height: 160px;
  }

  .read-more-list {
    position: absolute;
    bottom: -1ch;
    right: 0rem;
  }
}

@media(max-width:320px) {
  .search-bar {
    width: 170px !important;
    margin-right: 5px;
  }

  .search-btn {
    position: relative;
    right: 20%;
  }
}