html body {
  font-family: 'Montserrat', sans-serif;
  color: #121518;
}

*:focus {
  outline: none;
}

.grid-container {
  display: grid;
  grid-template-rows: 100px auto;
  grid-template-columns: minmax(100px, 200px) auto;
  grid-template-areas:
    "logo main-header"
    "sidebar main-section";
}

.grid-item {
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0);
}

.grid-item-header {
  grid-area: logo;
  position: relative;
}

.grid-item-header2 {
  grid-area: main-header;
  position: relative;
}

.grid-item-sidebar {
  grid-area: sidebar;
  position: relative;
  padding-top: 30px;
}

.grid-item-main {
  grid-area: main-section;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}

.logo {
  grid-area: logo;
  position: absolute;
  top: 30%;
  left: 20%;
  padding-top: 10px;
  width: 50%;
  height: 40%;
  background: #FFFFFF;
  text-align: center;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0);

}

.flex-header-profile {
  position: absolute;
  min-width: 230px;
  max-height: 80px !important;
  right: 0%;
  top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.flex-hello {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-height: 70px !important;
}

.hello {
  display: flex;
  flex-wrap: nowrap;
  font-weight: 900;
  font-size: 15px;
}

.thumbnail {
  max-width: 75px;
  margin-right: 35px;
}

.dropdown-toggle {
  width: 100%;
  margin-bottom: 5px;
}

.dropdown-menu {
  width: 100%;
}

.accordion {
  background-color: white !important;
  padding: 0 !important;
  border: none !important;
}

.header {
  background-color: #292b2cd8 !important;
  border-radius: 5px !important;
  width: 100% !important;
  margin-bottom: 5px !important;
}

.toggle-content {
  background-color: white !important;
  border-radius: 5px !important;
}

.toggle-btn {
  width: 100%;
  border: 1px solid white !important;
  background-color: white !important;
  font-weight: 600;
  font-size: 18px;
  border-radius: 5px;
}

.toggle-btn:hover {
  background-color: #00C67E !important;
  color: white;
}

.flex-header-form {
  position: absolute;
  top: 25%;
  left: 10%;
  min-width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between !important;
}

.search-bar {
  width: 300px !important;
}

.tabs {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 45%;
  margin-top: 10px;
  padding: 0px;
  right: 0%;
  z-index: 1;
}

.tabs>a:hover {
  background-color: rgba(39, 202, 126, 0.836) !important;
  color: white !important;
}

.tabs>a {
  background-color: #565d63 !important;
  color: white !important;
  font-size: 12px;
  margin-right: 8px;
  margin-bottom: 5px;
  text-align: center;
  width: 70px;
  padding: 5px 5px !important;
}

.book-card {
  position: relative;
  left: -38px;
  top: 0;
  width: 100% !important;
  min-height: 300px;
  max-height: 300px;
  margin-top: 15px;
  margin-left: 20px;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.247)
}

.card-img {
  width: 250px !important;
  max-height: 200px;
  z-index: 2;
}

.summary-title {
  position: absolute;
  left: 10%;
  top: 30%;
}

.summary-text {
  position: absolute;
  left: 10%;
  top: 50%;
}
.flex-summary{
  display: flex;
  flex-direction: column;
}

.book-title {
  position: absolute;
  left: 50%;
  top: 30%;
}

.book-status {
  position: absolute;
  left: 10%;
  top: 40%;
}

.status-done {
  position: absolute;
  left: 10%;
  top: 70%;
}

.status-grade {
  position: absolute;
  left: 10%;
  top: 50%;
}

.status-process {
  position: absolute;
  left: 10%;
  top: 30%;
}

.book-author {
  position: absolute;
  top: 30%;
}

.status-card,
.profile-internal-card,
.summary-card,
.contact-card {
  position: relative;
  width: 70%;
  height: 220px;
  left: 28% !important;
  bottom: 215px !important;
}

.about-max-list {
  max-height: 20px !important;
  max-width: 39vw !important;
  overflow: hidden;
  text-overflow: ellipsis !important;
  white-space: nowrap;
}

.btn-modal-summary  {
  font-weight: bold !important;
  border: 0 !important;
  max-width: 60%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}


.meeting-summary {
  position: absolute;
  left: 1%;
  top: 87%;
}

.btn-modal-status {
  background-color: #00C67E !important;
  border: 0 !important;
  font-weight: bold !important;
}

.btn-modal-meeting {
  background-color: #00C67E !important;
  border: 0 !important;
  font-weight: bold !important;
}

.status-modal {
  position: absolute;
  top: 8vh;
  left: 3vw;
  right: 40px;
  bottom: 40px;
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 7px;
  outline: none;
  padding: 20px;
  width: 95vw;
  height: 80vh;
  z-index: 2;
}

.overlay-modal-status {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(173, 170, 170, 0.411);
  z-index: 2;

}

.meeting-modal {
  position: absolute;
  top: 8vh;
  left: 12vw;
  right: 40px;
  bottom: 40px;
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 7px;
  outline: none;
  padding: 20px;
  width: 80vw;
  height: 80vh;
}

.overlay-modal-meeting {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(173, 170, 170, 0.411);

}

.summary-modal {
  position: absolute;
  top: 8vh;
  left: 12vw;
  right: 40px;
  bottom: 40px;
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 7px;
  outline: none;
  padding: 20px;
  width: 80vw;
  height: 80vh;
}

.overlay-modal-summary {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(173, 170, 170, 0.411);
}

.boldening {
  font-weight: 900;
}

.hover-shrink:hover {
  width: 25px;
}

.greening {
  color: #00C67E;
  font-weight: bold;
}

.card-title-header {
  background-color: #4285F4 !important;
  color: white;
  height: auto;
}

.blueing {
  font-size: 14px;
  display: inline-block;
  margin-left: 10px;
  color: white;
  background: #4285F4;
  border-radius: 18px;
  width: fit-content;
  padding: 5px 15px 5px 15px;
}

.status-card {
  position: relative;
  width: 70%;
  height: 220px;
  left: 23%;
  bottom: 215px !important;
}

.toggle-link {
  display: block;
  margin: auto !important;
  color: black;
}

.toggle-link:hover {
  color: white;
}

a {
  text-decoration: none;
  color: black !important;
}

a:hover {
  text-decoration: none !important;
  color: #00C67E !important;
}

.zero-percent {
  position: absolute;
  top: 50%;
  left: 40%;
  font-size: 15px;
}

.green-btn:hover {
  background-color: #245845 !important;
}

.main-ul {
  position: relative;
  top: 40px;
  left: 1px;
}

.grid-list {
  position: relative;
  width: 80px;
  left: 90%;
  top: 40px;
  text-decoration: none;
}

.agent-list-card {
  position: absolute;
  top: 8%;
  right: 1%;
  width: 26px;
}

.bookmark-icon-list {
  position: absolute;
  top: 7%;
  right: 4%;
  width: 23px;
}

.reminders-main-div {
  overflow-y: auto;
}

.messaging-btn {
  position: relative;
  min-width: 30%;
  color: white !important;
  top: 10%;
  margin-left: auto;
  margin-right: auto;
}

.messaging-btn:hover {
  color: white !important;
}

.main-logo {
  position: relative;
  bottom: 120%;
  width: 90px;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.185);
  border-radius: 10px;
}

@media(max-width :1468px) {
  .flex-status {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

  }

  .flex-btns {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 300px;
  }

  .flex-status-dates {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .book-card {
    position: relative;
    left: -38px;
    top: 0;
    width: 100% !important;
    min-height: 300px;
    max-height: 500px;
    margin-top: 15px;
    margin-left: 20px;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.247)
  }

  

  .agent-list-card {
    position: absolute;
    top: 23px !important;
    right: 1%;
    width: 26px;
  }

  .bookmark-icon-list {
    position: absolute;
    top: 20px !important;
    right: 5%;
    width: 23px;
  }

  .progressBar {
    width: 330px;
    position: absolute;
    top: 110%;
    left: 0%;
    height: 45px !important;
    font-size: 17px !important;
  }
}

@media(min-width: 1469px) {
  .flex-status {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .flex-btns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .flex-status-dates {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .progressBar {
    width: 150px;
    position: absolute;
    top: 47%;
    left: 80%;
    transform: rotate(270deg);
    height: 75px !important;
  }
}

.hamburger-menu {
  grid-area: hamburger;
  display: none;
}

@media(max-width:1000px) {
  .grid-container {
    display: grid;
    grid-template-rows: 100px auto;
    grid-template-columns: 0% 100%;
    grid-template-areas:
      "logo hamburger main-header"
      "main-section";
  }

  .grid-item-main {
    display: flex;
    min-width: 100% !important;
    overflow-y: hidden !important;
    overflow-x: hidden !important;
  }

  .grid-item-sidebar {
    display: none;
  }

  .hamburger-menu {
    display: inline;
    position: relative;
    top: 30px;
    left: 20%;
    z-index: 7;
  }

  .book-card {
    position: absolute;
    left: -4px;
    top: 12px;
    width: 272% !important;
    max-width: 87vw !important;
    min-height: 650px !important;
    margin-top: 15px;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.247)
  }

  .tabs {
    right: 0%;
    top: 50%;
  }

  .logo {
    margin-left: 55px;
    display: none;
  }

  .flex-header-form {
    position: absolute;
    top: 120%;
    left: 30%;
    min-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
  }

  .search-bar {
    width: 230px !important;
    margin-right: 5px;
  }

  .drawer-toggle {
    position: relative;
    top: 150px;
  }

  .drawer-logo {
    display: block;
    position: absolute;
    right: 33%;
    top: -125px;
    width: 90px;
    background: #FFFFFF;
    text-align: center;
    z-index: 100;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.253);
    border-radius: 18%;
  }

  .btn-logout,
  .hello {
    display: none !important;
  }

  .status-card,
  .profile-internal-card,
  .summary-card,
  .contact-card {
    position: relative;
    width: 50%;
    height: 420px;
    left: 40vw !important;
  }

  .flex-status {
    display: flex;
    position: absolute;
    right: 28%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 500px;
  }

  .flex-btns {
    display: flex;
    min-height: 150px;
    flex-direction: column;
    justify-content: space-around !important;
  }

  .flex-status-dates {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .img-progress-flex {
    display: flex;
    flex-direction: column;
  }

  .progressBar {
    width: 250px;
    position: absolute;
    top: 65%;
    transform: rotate(270deg);
    height: 45px !important;
  }
  .agent-list-card {
    position: absolute;
    top: 23px !important;
    right: 1%;
    width: 26px;
  }

  .bookmark-icon-list {
    position: absolute;
    top: 20px !important;
    right: 7%;
    width: 23px;
  }

}

@media(max-width:600px) {
  .flex-header-form {
    position: absolute;
    top: 120%;
    left: 8%;
    min-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
  }

  .book-card {
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: -20px;
    top: 12px;
    width: 272% !important;
    max-width: 92vw !important;
    min-height: 950px !important;
    margin-top: 15px;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.247)
  }

  .flex-status {
    display: flex;
    position: absolute;
    right: 28%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 500px;
  }

  .status-card,
  .summary-card,
  .contact-card {
    position: relative;
    width: 85%;
    bottom: -80% !important;
    height: 420px;
    left: 7% !important;
  }

  .main-flex-list {
    display: flex;
    flex-direction: column;
  }

  .img-progress-flex {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  .progressBar {
    width: 60%;
    position: absolute;
    top: 90%;
    left: 20%;
    transform: rotate(0deg);
    height: 45px !important;
  }

  .card-img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  .profile-internal-card {
    width: 85%;
    bottom: -80% !important;
    left: 7% !important;
  }

  .profile-inner-flex {
    display: flex !important;
    justify-content: space-around !important;
    flex-direction: column !important;
  }

  .about-max-list {
    max-height: 180px !important;
    max-width: 189vw !important;
    overflow: hidden;
    text-overflow: ellipsis !important;
    white-space: wrap !important;
  }
  .agent-list-card {
    position: absolute;
    top: 23px !important;
    right: 2%;
    width: 26px;
  }

  .bookmark-icon-list {
    position: absolute;
    top: 20px !important;
    right: 12%;
    width: 23px;
  }

}