html body {
  font-family: 'Montserrat', sans-serif;
  color: #121518;
  overflow: hidden;
}

*:focus {
  outline: none;
}

.grid-container {
  display: grid;
  grid-template-rows: 100px 850px;
  grid-template-columns: 20% 80%;
}

.grid-item {
  border: 1px solid rgba(128, 128, 128, 0.151);
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.26);
}

.grid-item-header {
  position: relative;
}

.grid-item-header2 {
  position: relative;
}

.grid-item-sidebar {
  position: relative;
  padding-top: 30px;
}

.grid-item-main {
  overflow-y: scroll;
}

.logo {
  position: absolute;
  top: 30%;
  left: 20%;
  padding-top: 10px;
  width: 50%;
  height: 40%;
  background: #FFFFFF;
  text-align: center;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.377);

}

@media(max-width:1575px) {
  .hello {
    position: absolute;
    top: 9%;
    font-weight: 900;
    font-size: 20px;
    right: 15%;
  }

  .btn-logout {
    position: absolute;
    top: 55%;
    right: 15%;
    width: 110px;

  }
}

@media(min-width: 1575px) {
  .hello {
    position: absolute;
    top: 9%;
    font-weight: 900;
    font-size: 20px;
    right: 11%;
  }

  .btn-logout {
    position: absolute;
    top: 55%;
    right: 11%;
    width: 110px;
  }
}

.thumbnail {
  width: 75px;
  position: absolute;
  right: 3%;
  top: 10%;
}

.dropdown-toggle {
  width: 100%;
  margin-bottom: 5px;
}

.dropdown-menu {
  width: 100%;
}

.accordion {
  background-color: white !important;
  padding: 0 !important;
}

.header {
  background-color: #292b2cd8 !important;
  border-radius: 5px !important;
  width: 100% !important;
  margin-bottom: 5px !important;
}

.toggle-content {
  background-color: white !important;
  border-radius: 5px !important;
}

.toggle-btn {
  width: 100%;
  border: 1px solid #00C67E !important;
  background-color: rgb(241, 239, 239) !important;
  font-weight: 600;
  font-size: 18px;
  border-radius: 5px;
}

.toggle-btn:hover {
  background-color: #00C67E !important;
  color: white;
}

@media(min-width : 1258px) {
  .search-bar {
    position: absolute;
    top: 25%;
    left: 10%;
    width: 300px !important;
  }

  .search-btn {
    position: absolute;
    left: 32%;
    top: 25%;
  }
}

@media(max-width : 1258px) and (min-width:996px) {
  .search-bar {
    position: absolute;
    top: 25%;
    left: 10%;
    width: 300px !important;
  }

  .search-btn {
    position: absolute;
    left: 50%;
    top: 25%;
  }
}

@media(max-width : 996px) {
  .search-bar {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 300px !important;
  }

  .search-btn {
    position: absolute;
    left: 10%;
    top: 55%;
    width: 300px
  }
}

.tabs {
  position: absolute;
  margin-top: 10px;
  padding: 0px;
  left: 56%;
}

@media(max-width: 1556px) {
  .tabs {
    position: absolute;
    margin-top: 10px;
    padding: 0px;
    left: 40%;
  }

  .btn-modal-summary {
    position: absolute;
    left: 43% !important;
    top: 12vh;
    font-weight: bold !important;
    border: 0 !important;
  }

}

@media(max-width:1356px) {
  .tabs {
    position: absolute;
    margin-top: 10px;
    padding: 0px;
    left: 30%;
  }
}

@media(max-width:983px) {
  .tabs {
    position: absolute;
    margin-top: 10px;
    padding: 0px;
    left: 20%;
  }
}

@media(max-width:873px) {
  .tabs {
    position: absolute;
    margin-top: 10px;
    padding: 0px;
    left: 26%;
  }

  .tabs>a {
    background-color: #00C67E !important;
    color: white !important;
    margin-right: 0px;
  }
}

@media(min-width:873px) {
  .tabs>a {
    background-color: #00C67E !important;
    font-weight: bold;
    color: white !important;
    margin-right: 30px;
  }
}


.tabs>a:hover {
  background-color: rgba(39, 202, 126, 0.836) !important;
  color: white !important;
}

.book-card {
  position: relative;
  left: -38px;
  top: 0;
  width: 100% !important;
  min-height: 300px;
  max-height: 300px;
  margin-top: 15px;
  margin-left: 20px;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.247)
}

.card-img {
  width: 250px !important;
  max-height: 200px;
}

.summary-title {
  position: absolute;
  left: 10%;
  top: 30%;
}

.summary-text {
  position: absolute;
  left: 10%;
  top: 50%;
}

.book-title {
  position: absolute;
  left: 50%;
  top: 30%;
}

.book-status {
  position: absolute;
  left: 10%;
  top: 40%;
}

.status-done {
  position: absolute;
  left: 10%;
  top: 70%;
}

.status-grade {
  position: absolute;
  left: 10%;
  top: 50%;
}

.status-process {
  position: absolute;
  left: 10%;
  top: 30%;
}

.book-author {
  position: absolute;
  top: 30%;
}

@media(min-width : 1900px) {
  .status-card {
    position: relative;
    width: 1100px;
    height: 220px;
    left: 23%;
    bottom: 215px !important;
  }

  .profile-internal-card {
    position: relative;
    width: 1100px;
    height: 220px !important;
    left: 23%;
    bottom: 215px !important;

  }

  .summary-card {
    position: relative;
    width: 1100px;
    height: 220px;
    left: 23%;
    bottom: 215px !important;
  }

  .contact-card {
    position: relative;
    width: 1100px;
    height: 220px;
    left: 23%;
    bottom: 215px !important;
  }
}

@media(max-width : 1900px) {
  .status-card {
    position: relative;
    width: 1000px;
    height: 220px;
    left: 23%;
    bottom: 215px !important;
  }

  .profile-internal-card {
    position: relative;
    width: 900px;
    height: 220px !important;
    left: 23%;
    bottom: 215px !important;

  }

  .summary-card {
    position: relative;
    width: 900px;
    height: 220px;
    left: 23%;
    bottom: 215px !important;
  }

  .contact-card {
    position: relative;
    width: 900px;
    height: 220px;
    left: 23%;
    bottom: 215px !important;
  }

  .btn-modal-summary {
    position: absolute;
    left: 43% !important;
    top: 12vh;
    font-weight: bold !important;
    border: 0 !important;
  }
}

@media(max-width:1696px) {
  .status-card {
    position: relative;
    width: 900px;
    height: 220px;
    left: 23%;
    bottom: 215px !important;
  }
}


@media(max-width : 1541px) {
  .status-card {
    position: relative;
    width: 800px;
    height: 220px;
    left: 23%;
    bottom: 215px !important;
  }

  .profile-internal-card {
    position: relative;
    width: 800px;
    height: 220px !important;
    left: 23%;
    bottom: 215px !important;

  }

  .summary-card {
    position: relative;
    width: 800px;
    height: 220px;
    left: 23%;
    bottom: 215px !important;
  }

  .contact-card {
    position: relative;
    width: 800px;
    height: 220px;
    left: 23%;
    bottom: 215px !important;
  }

  .btn-modal-summary {
    position: absolute;
    left: 42% !important;
    top: 12vh;
    font-weight: bold !important;
    border: 0 !important;
  }
}

@media(max-width : 1376px) {
  .book-card {
    position: relative;
    left: -38px;
    top: 0;
    width: 100% !important;
    min-height: 300px;
    max-height: 400px;
    margin-top: 15px;
    margin-left: 20px;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.247)
  }

  .status-card {
    position: relative;
    width: 700px;
    height: 220px;
    left: 28%;
    bottom: 215px !important;
  }

  .profile-internal-card {
    position: relative;
    width: 600px;
    height: 220px !important;
    left: 32%;
    bottom: 215px !important;

  }

  .summary-card {
    position: relative;
    width: 600px;
    height: 220px;
    left: 32%;
    bottom: 215px !important;
  }

  .contact-card {
    position: relative;
    width: 600px;
    height: 220px;
    left: 32%;
    bottom: 215px !important;
  }

  .btn-modal-summary {
    position: absolute;
    left: 39% !important;
    top: 12vh;
    font-weight: bold !important;
    border: 0 !important;
  }
}

@media(max-width : 1175px) {
  .status-card {
    position: relative;
    width: 600px;
    height: 220px;
    left: 29%;
    bottom: 215px !important;
  }

  .profile-internal-card {
    position: relative;
    width: 400px;
    height: 220px !important;
    left: 39%;
    bottom: 215px !important;

  }

  .summary-card {
    position: relative;
    width: 500px;
    height: 220px;
    left: 36%;
    bottom: 215px !important;
  }

  .contact-card {
    position: relative;
    width: 400px;
    height: 220px;
    left: 39%;
    bottom: 215px !important;
  }

  .btn-modal-summary {
    position: absolute;
    left: 36% !important;
    top: 12vh;
    font-weight: bold !important;
    border: 0 !important;
  }

  .response-date {
    position: absolute;
    left: 60% !important;
    top: 31%;
  }

  .response-status {
    position: absolute;
    left: 60% !important;
    top: 49%;
  }

  .meeting-date {
    position: absolute;
    left: 60% !important;
    top: 69%;
  }

  .status-date {
    position: absolute;
    top: 88%;
    left: 60% !important;
  }
}


.response-date {
  position: absolute;
  left: 50%;
  top: 31%;
}

.response-status {
  position: absolute;
  left: 50%;
  top: 49%;
}

.meeting-date {
  position: absolute;
  left: 50%;
  top: 69%;
}

.meeting-summary {
  position: absolute;
  left: 1%;
  top: 87%;
}

.btn-modal-status {
  background-color: #00C67E !important;
  border: 0 !important;
  font-weight: bold !important;
  position: absolute;
  top: 48%;
  left: 2%;
  width: 300px;

}

.btn-modal-meeting {
  background-color: #00C67E !important;
  border: 0 !important;
  font-weight: bold !important;
  position: absolute;
  top: 75%;
  left: 2%;
  width: 300px;
}

.status-date {
  position: absolute;
  top: 88%;
  left: 50%;
}

.status-modal {
  position: absolute;
  top: 8vh;
  left: 3vw;
  right: 40px;
  bottom: 40px;
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 7px;
  outline: none;
  padding: 20px;
  width: 95vw;
  height: 80vh;
}

.overlay-modal-status {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(173, 170, 170, 0.411);

}

.meeting-modal {
  position: absolute;
  top: 8vh;
  left: 12vw;
  right: 40px;
  bottom: 40px;
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 7px;
  outline: none;
  padding: 20px;
  width: 80vw;
  height: 80vh;
}

.overlay-modal-meeting {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(173, 170, 170, 0.411);

}

.summary-modal {
  position: absolute;
  top: 8vh;
  left: 12vw;
  right: 40px;
  bottom: 40px;
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 7px;
  outline: none;
  padding: 20px;
  width: 80vw;
  height: 80vh;
}

.overlay-modal-summary {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(173, 170, 170, 0.411);
}

.boldening {
  font-weight: 900;
}

.greening {
  color: #00C67E;
  font-weight: bold;
}

.card-title-header {
  background-color: #4285F4 !important;
  color: white;
}

.btn-modal-summary {
  position: absolute;
  left: 25vw;
  top: 12vh;
  font-weight: bold !important;
  border: 0 !important;
}

.blueing {
  font-size: 14px;
  display: inline;
  margin-left: 10px;
  color: white;
  background: #4285F4;
  border-radius: 18px;
  width: 550px !important;
  padding: 5px 15px 5px 15px;
}

@media(min-width : 1301px) {
  .progressBar {
    width: 150px;
    position: absolute;
    top: 47%;
    left: 80%;
    transform: rotate(270deg);
    height: 75px !important;
  }
}

@media(max-width:1300px) {
  .progressBar {
    width: 330px;
    position: absolute;
    top: 110%;
    left: 0%;
    height: 45px !important;
    font-size: 17px !important;
  }
}



.toggle-link {
  display: block;
  margin: auto !important;
  color: black;
}

.toggle-link:hover {
  color: white;
}

a {
  text-decoration: none;
  color: black !important;
}

a:hover {
  text-decoration: none !important;
  color: #00C67E !important;
}

.zero-percent {
  position: absolute;
  top: 50%;
  left: 40%;
  font-size: 15px;

}

.main-ul {
  position: relative;
  top: 16px;
  left: 1px;
}

.grid-list {
  position: relative;
  width: 80px;
  left: 90%;
  top: 10px;
  text-decoration: none;

}

.agent-list-card {
  position: absolute;
  top: 4%;
  left: 96%;

}

.bookmark-icon-list {
  position: absolute;
  top: 4%;
  left: 93%;

}

.reminders-main-div {
  overflow-y: auto;
}

.messaging-btn {
  position: relative;
  width: 30%;
  color: white !important;
  top: 10%;
  margin-left: auto;
  margin-right: auto;
}

.messaging-btn:hover {
  color: white !important;
}