html body{
  overflow-x: hidden !important;
}
.msgItem {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70vw;
  height: 100px;
  top: 5rem !important;
  border-radius: 6px;
  background-color: #eef0f1;
  color: rgb(131, 124, 124);
  margin-bottom: 15px;
}

.msgTxt {
  position: absolute;
  width: 89%;
  height: 32px;
  top: 48px;
  left: 20px;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
}

.userName {
  position: absolute;
  width: 162px;
  height: 12px;
  top: 20px;
  left: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #6C757D;
}

.msgDate {
  position: absolute;
  right: 1vw;
  top: 18px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #6C757D;
}

.message-list {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 10%;
  right: 2%;
}


@media(max-width:1000px) {
  .msgItem {
    width: 92vw;
    height: 160px;
  }
}

@media(max-width:700px) {
  .msgItem {
    height: 290px;
  }

  .msgTxt {
    top: 70px;
  }
  .message-list {
    right: 3%;
  }
}

@media(max-width:450px){
  .msgDate {
    top: 45px;
  }
}