.flex-form {
  position: relative;
}

.form-control.msgBox {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 3rem;
  width: 600px;
  height: 180px;
  border: 2px solid #CCCCCC !important;
  box-sizing: border-box;
  border-radius: 6px;
  background-color: white !important;
  padding: 20px;
  color: rgb(88, 84, 84) !important;
}

.maxChar {
  position: absolute;
  width: 340px;
  height: 29px;
  left: 22%;
  top: 165px;
  padding: 4px 10px 0px 7px !important;
}

.msgBtn {
  position: absolute;
  top: 99%;
  left: 66%;
}