.inputBox {
    position: absolute;
    height: 500px;
    width: 400px;
    left: 45rem;
    top: 60px;
}

.note-item-card {
    margin-bottom: 10px;
}

.grid {
    position: relative;
    margin: 20px;
}

.text {
    font-size: 30px;
}



@media(min-width:1900px) {
    .note-item-card {
        position: relative;
        margin-left: auto !important;
        margin-right: auto !important;
        width: 1300px;
        color: rgb(10, 2, 29);
    }
}

@media(max-width:1900px) and (min-width:1750px) {
    .note-item-card {
        margin-left: auto !important;
        margin-right: auto !important;
        width: 1300px;
        color: rgb(10, 2, 29);
        right: 1%;
    }

}

@media(max-width: 1749px) {
    .note-item-card {
        margin-left: auto !important;
        margin-right: auto !important;
        width: 1200px;
        color: rgb(10, 2, 29);
        right: 1%;
    }
}

@media(max-width: 1615px) {
    .note-item-card {
        margin-left: auto !important;
        margin-right: auto !important;
        width: 1100px;
        color: rgb(10, 2, 29);
        height: 300px;
        right: 1%;
    }

    .delBtn {
        position: absolute;
        right: 10px;
        top: 100px;
    }

    .openModalBtn {
        position: absolute;
        top: 4% !important;
        right: 5px;

    }
}

@media(max-width: 1500px) {
    .note-item-card {
        margin-left: auto !important;
        margin-right: auto !important;
        width: 1000px;
        color: rgb(10, 2, 29);
        height: 350px;
        right: 1%;
    }

    .openModalBtn {
        position: absolute;
        top: 3% !important;
        right: 5px;

    }
}

.delBtn {
    position: absolute;
    right: 10px;
    top: 100px;
}

.openModalBtn {
    position: absolute;
    top: 6%;
    right: 5px;

}

.closeModalBtn {
    position: absolute;
    right: 0;
    top: 0;
}

.editNoteBtn {
    position: absolute;
    bottom: 0;
    left: 0;
}

.note-modal {
    position: relative;
    color: rgb(4, 5, 19);
    top: 100px;
    max-width: 20% !important;
    max-height: 50% !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.overlay-note-modal {

    color: rgb(4, 5, 19);
    top: 100px;
    width: 20%;
    height: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.reminders-header {
    position: absolute;
    left: 53%;
}

.card-note-header {
    background-color: #4285F4 !important;
    color: white;
}