.note-title-form{
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 90%;
}

.note-text-form{
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 90%;
}
.add-note{
    background-color: #9982da !important;
    border: none !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.note-item-card {
    margin-bottom: 10px;
}

.grid {
    position: relative;
    margin: 20px;
}

.text {
    font-size: 30px;
}

.note-item-card {
    position: relative;
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 95%;
    right: 2%;
    color: rgb(10, 2, 29);
}

.delBtn {
    position: absolute;
    right: 10px;
    top: 100px;
}

.openModalBtn {
    position: absolute;
    top: 6%;
    right: 5px;
}

.closeModalBtn {
    position: absolute;
    right: 0;
    top: 0;
}

.editNoteBtn {
    position: absolute;
    bottom: 0;
    left: 0;
}

.note-modal {
    position: relative;
    color: rgb(4, 5, 19);
    top: 100px;
    max-width: 20% !important;
    max-height: 50% !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.overlay-note-modal {
    color: rgb(4, 5, 19);
    top: 100px;
    width: 20%;
    height: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.reminders-header {
    position: absolute;
    left: 53%;
}

.card-note-header {
    background-color: #4285F4 !important;
    color: white;
}

.open-note-btn{
    background-color: #01c67e!important;
    border: none !important;
    color: white;
}
