.note-title-form {
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 90%;
}

.note-text-form {
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 90%;
}

.add-note {
    background-color: #9982da !important;
    border: none !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.grid {
    position: relative;
    margin: 20px;
}

.text {
    font-size: 17px;
}

.note-item-card {
    position: relative;
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 10px;
    width: 100%;
    right: 2%;
    color: rgb(10, 2, 29);
}

.delBtn {
    position: relative;
    top: 10px;
}

.openModalBtn {
    position: absolute;
    top: 9px;
    right: 5px;
}

.closeModalBtn {
    position: absolute;
    right: 0;
    top: 0;
}

.editNoteBtn {
    position: absolute;
    bottom: 0;
    left: 0;
}

.note-modal {
    position: relative;
    color: rgb(4, 5, 19);
    top: 100px;
    max-width: 20% !important;
    max-height: 50% !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.overlay-note-modal {
    color: rgb(4, 5, 19);
    top: 100px;
    width: 20%;
    height: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.reminders-header {
    position: relative;
    transform: translate(40%, 280%)
}

.reminders-main-div {
    position: absolute;
    min-width: 60vw;
    top: 0%;
    left: 20%;
    overflow-x: hidden;
}

.note-date-header {
    background-color: #4285F4 !important;
    color: white;
}

.open-note-btn {
    background-color: #01c67e !important;
    border: none !important;
    color: white;
}

.card-title {
    font-size: 21px;
}

.date-header {
    font-size: 18px !important;
}

@media(max-width:1000px) {
    .reminders-main-div {
        position: absolute;
        min-width: 90vw;
        top: 5%;
        left: 5%;

    }
}

@media(max-width:700px) {
    .reminders-main-div {
        position: absolute;
        min-width: 90vw;
        top: 80px;
        left: 5%;

    }

    .note-item-card {
        position: relative;
        display: block;
        margin-left: auto !important;
        margin-right: auto !important;
        margin-bottom: 10px;
        width: 100%;
        height: auto;
        right: 5%;
        color: rgb(10, 2, 29);
    }

    .date-header {
        font-size: 16px !important;
    }

    .openModalBtn {
        position: relative;
        top: 7px;

    }

    .delBtn {
        margin-bottom: 5px;
        margin-right: 10px;

    }
}

@media(max-width:475px) {
    .note-item-card {
        right: none;
        left: -8%;
    }
}